<div th:include="common :: header"></div>

<div th:replace="common :: topnavbar"></div>

<div class="container-fluid ">
    <div class="row ">
        <div class="col-2 p-0 ">
            <div th:replace="common :: leftnavbar"></div>

        </div>
        <div class="col pt-4 ml-4">
            <h1>Admin panel</h1>
            <br>
            <!-- Nav tabs -->
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#home">User table</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#menu1">New user</a>
                </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div id="home" class=" tab-pane active">
                    <div class="card">
                        <h3 class="card-header">All users</h3>

                        <div class="card-body">
                            <table class="table table-striped ">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Roles</th>
                                    <th>Username</th>
                                    <th>Email</th>
                                    <th>Edit</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="user : ${users}">
                                    <td th:text="${user.id}">ID</td>

                                    <td th:text="${user.roles}">ROLES</td>
                                    <td th:text="${user.name }">admin</td>
                                    <td th:text="${user.email}">email@example.com</td>
                                    <td>
                                        <button type="button" class="btn btn-info" data-toggle="modal"
                                                data-target="#userModal"
                                                th:attr="data-whatever=${user.id}"
                                                th:attrappend="data-username=${user.name}"
                                               >Edit</button>

                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div id="menu1" class=" tab-pane fade">
                    <div id="home" class=" tab-pane active">
                        <div class="card">
                            <h3 class="card-header">Add new user</h3>
                            <div class="card-body text-center">
                                <div class="col-sm-4 m-auto">
                                    <div th:replace="editUser :: editUserForm (userroles='')">EditUserForm</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="userModal" tabindex="-1" role="dialog" aria-labelledby="userModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="userModalLabel" >Edit user</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="editUserForm">
                <!--<div th:replace="editUser :: editUserForm (userroles='', action='edit')">EditUserForm</div>-->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary"  onclick="$('#edituserform').submit();">Edit user</button>
            </div>
        </div>
    </div>
</div>

<div th:include="common :: footer"></div>