<div th:include="common :: header"></div>
<div th:include="navbar :: navbar">NavBar</div>



<div class="container mt-5" >

    <h2>User list</h2>
    <form action="newuser">
        <button type="submit" class="btn btn-primary">Add user</button>
    </form>
    <p></p>
    <div class="list-group" th:each="user : ${users}">
        <a href="edituser" class="list-group-item list-group-item-action"
           th:href="@{edituser(id=${user.id})}"  th:text="${user.name }">  UserName</a>
</div>

</div>

<div th:include="common :: footer"> </div>