<div th:include="common :: header"></div>

<div class="container pt-5" >

    <div class="row pb-2">
        <div class="col-sm-4  pt-5  m-auto ">
            <h2 style="font-weight:bold">Please sign in</h2>
            <form method="post" action="/j_spring_security_check">
                <div class="list-group">

                    <input class=" list-group-item "  type="user" name="username" placeholder="username"/>
                    <input class="list-group-item "  type="password" name="password" placeholder="password"/>
                </div>
                <button class="btn my-btn-primary btn-block btn-lg mt-3 " type="submit">Sign in</button>
                <div class="alert alert-danger mt-3" role="alert" th:text="${message}" th:if="${message}">
                    Message
                </div>
            </form>
        </div>
    </div>
</div>


<div th:include="common :: footer"></div>