<div th:include="common :: header"></div>

<div class="container" >
    <div class="row mt-5 pt-5">
        <div class="col-4  m-auto ">
            <h2 style="font-weight:bold">Please sign in</h2>
        </div>
    </div>
    <form method="post" action="/j_spring_security_check">
        <div class="row pb-2">
            <div class="col-4   m-auto ">
                <div class="list-group">

                    <input class="list-group-item"  type="user" name="username" placeholder="username"/>
                    <input class="list-group-item"  type="password" name="password" placeholder="password"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4   m-auto ">
                <button class="btn my-btn-primary btn-block btn-lg " type="submit">Sign in</button>

            </div>
        </div>
    </form>
    <div class="row ">
        <div class="col-7 pt-3 m-auto ">
            <div class="alert alert-danger" role="alert" th:text="${message}" th:if="${message}">
                Message
            </div>
        </div>
    </div>
</div>

<div th:include="common :: footer"></div>